<div>

    <form action="/auth/signup" method="POST">
    
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">

        <label for="fullName">Full name:</label>
        <input type="text" name="fullName" id="fullName">

        <label for="email">Email:</label>
        <input type="text" name="email" id="email">

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">

        <div id="my-signing2" class="g-signin2" data-width="300" data-height="200" data-longtitle="true">
            
        <button type="submit">Signup</button>
    
    </form>

</div>